#
# Credits: silviu20092
#

[worldserver]

########################################
# Mythic Plus configuration
########################################
#
#    MythicPlus.Enable
#        Description: Enable or disable the system. This config is not hot-reloadable.
#        Default:     0 - Disabled
#                     1 - Enabled
#

MythicPlus.Enable = 1

#
#    MythicPlus.Penalty.OnDeath
#        Description: Time (in seconds) that applies as penalty whenever a player dies inside M+
#        Values:      0  - no penalty
#                     >0 - value in seconds
#        Default:     15 - subtracts 15 seconds from the timer
#

MythicPlus.Penalty.OnDeath = 15

#
#    MythicPlus.KeystoneBuyTimer
#        Description: Limits the buying of Mythic Keystones from the NPC. This value is in minutes.
#        Values:      0    - no limit, players can buy the keystone whenever they want
#                     60   - players can buy a keystone once every 60 minutes
#        Default:     1440 - can buy the keystone once per day
#

MythicPlus.KeystoneBuyTimer = 1440

#
#    MythicPlus.DropKeystoneOnDungeonComplete
#        Description: Drops a Mythic Keystone for each player when the M+ dungeon was completed (players must beat the timer though)
#        Values: 0 or 1
#        Default: 1 - drop the keystone
#

MythicPlus.DropKeystoneOnDungeonComplete = 1

#
#    MythicPlus.AutoUpgradeKeystone
#        Description: Automatically upgrades player keystones (+1, +2, or +3) when beating a dungeon timer.
#        Values: 0 - Disabled
#                1 - Enabled
#        Default: 1
#

MythicPlus.AutoUpgradeKeystone = 1

#
#    MythicPlus.GreatVault.Enable
#        Description: Enables the Great Vault weekly chest.
#        Values: 0 - Disabled
#                1 - Enabled
#        Default: 1
#

MythicPlus.GreatVault.Enable = 1

#
#    MythicPlus.GreatVault.ItemEntry
#        Description: The item entry rewarded from the weekly Great Vault.
#        Default: 29434 - Badge of Justice
#

MythicPlus.GreatVault.ItemEntry = 29434

#
#    MythicPlus.TimerBroadcast.Enable
#        Description: Periodically alerts players on remaining dungeon time inside M+.
#        Values: 0 - Disabled
#                1 - Enabled
#        Default: 1
#

MythicPlus.TimerBroadcast.Enable = 1

#
#    MythicPlus.WeeklyAffixes.Enable
#        Description: Ensures weekly affixes rotate deterministically every Monday.
#        Values: 0 - Disabled
#                1 - Enabled
#        Default: 1
#

MythicPlus.WeeklyAffixes.Enable = 1

#
#    MythicPlus.KeystoneUpgradePct
#        Description: The percentage of time remaining required to upgrade a keystone by +2.
#        Default: 0.20 - 20%
#

MythicPlus.KeystoneUpgradePct = 0.20

#
#    MythicPlus.KeystoneHighUpgradePct
#        Description: The percentage of time remaining required to upgrade a keystone by +3.
#        Default: 0.40 - 40%
#

MythicPlus.KeystoneHighUpgradePct = 0.40

